@charset "utf-8";

@import url(mod_global.import.css);

html, body{width:100%; height:100%;}
body{font-size:0.24rem; color:#000;}

.mod_result{position:relative; display:flex; flex-direction:column; justify-content:space-between; width:6.92rem; height:9.14rem; margin:0 auto; background-repeat:no-repeat; background-size:100% auto;}
.mod_result_1{background-image:url(img/result_1.png);}
.mod_result_2{background-image:url(img/result_2.png);}
.mod_result_3{background-image:url(img/result_3.png);}
.mod_result_4{background-image:url(img/result_4.png);}
.mod_result_5{background-image:url(img/result_5.png);}
.mod_result_6{background-image:url(img/result_6.png);}
.mod_result_7{background-image:url(img/result_7.png);}
.mod_result_8{background-image:url(img/result_8.png);}
.mod_result_9{background-image:url(img/result_9.png);}
.mod_result_10{background-image:url(img/result_10.png);}

.mod_result__tit{display:flex; align-items:center; margin:0.4rem; font-size:0.26rem; color:#fff; overflow:hidden;}
.mod_result__name{margin-right:0.05rem; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-weight:normal;}
.mod_result__desc{flex-shrink:0;}

.mod_result__count{position:absolute; right:20%; top:26.5%; width:1.18rem;}
.mod_result__num{font-size:0.36rem; color:#ffd427; font-family:Arial, Helvetica, sans-serif; line-height:1;}
.mod_result__num:last-child{text-align:right;}

.mod_result_5 .mod_result__count{right:12%;}
.mod_result_7 .mod_result__count{right:31%;}
.mod_result_10 .mod_result__count{right:31%;}

.mod_result__btn{display:flex; align-items:center; justify-content:center; margin-bottom:0.4rem;}
.btn_save,
.btn_again{display:block; width:2.03rem; height:0.45rem; margin:0 0.3rem; background-image:url(img/sprites.png); background-repeat:no-repeat; background-size:5.04rem auto; font-size:0; line-height:0;}
.btn_save{background-position:-2.33rem -3.84rem;}
.btn_again{background-position:-0.1rem -3.84rem;}

.mod_poster{display:flex; flex-direction:column; align-items:center; justify-content:center; width:100%; height:100%; background-image:linear-gradient(to top, rgb(214,231,255) 0%, rgb(121,165,250) 99%);}

.mod_code{display:flex; align-items:center; width:6.36rem; height:1.99rem; margin:0.2rem auto; background:url(img/code.png) no-repeat; background-size:100% auto;}
.mod_code__info{flex:1; margin-left:0.3rem; font-size:0.28rem; color:#272630;}
.mod_code__img{display:block; width:1.3rem; height:1.3rem; margin-right:0.44rem;}

.mod_logo__dark{width:1.95rem; height:0.53rem; background:url(img/logo_dark.png) no-repeat; background-size:100% auto; font-size:0; line-height:0;}



